absl-py==2.3.1
accelerate==0.21.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiohttp-cors==0.7.0
aiosignal==1.3.1
alembic==1.14.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.3.0
autogluon==0.8.3
autogluon.common==0.8.3
autogluon.core==0.8.3
autogluon.features==0.8.3
autogluon.multimodal==0.8.3
autogluon.tabular==0.8.3
autogluon.timeseries==0.8.3
backcall==0.2.0
bayesian-optimization==1.4.3
beautifulsoup4==4.14.2
blessed==1.25.0
blis==0.7.11
boto3==1.37.38
botocore==1.37.38
cachetools==5.5.2
catalogue==2.0.10
catboost==1.2.5
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.4
click==8.1.8
cloudpathlib==0.16.0
cloudpickle==3.1.2
colorama==0.4.6
colorful==0.5.8
colorlog==6.10.1
comm==0.2.3
confection==0.1.5
ConfigSpace==0.4.21
contourpy==1.1.1
crcmod==1.7
cryptography==46.0.3
cycler==0.12.1
cymem==2.0.11
Cython==3.2.1
dask==2023.5.0
datasets==2.14.4
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.4.0
distributed==2023.5.0
distro==1.9.0
einops==0.8.1
emcee==3.1.6
evaluate==0.4.6
executing==2.2.1
fastai==2.7.18
fastcore==1.7.20
fastdownload==0.0.7
fastprogress==1.0.3
filelock==3.14.0
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
future==1.0.0
gdown==5.2.0
gluonts==0.13.9
google-api-core==2.28.1
google-auth==2.43.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.72.0
gpustat==1.1.1
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.50.0
hf-xet==1.2.0
huggingface-hub==0.36.0
hydra-core==1.3.2
hyperopt==0.2.7
idna==3.11
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.4.2
jsonschema==4.17.3
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.3.0
liac-arff==2.5.0
lightgbm==3.3.5
lightning-utilities==0.11.9
lit-saint==0.4.1
llvmlite==0.41.1
locket==1.0.0
Mako==1.3.10
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
minio==7.2.10
mlforecast==0.7.3
model-index==0.1.11
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
multiprocess==0.70.15
murmurhash==1.0.15
narwhals==1.42.1
nest-asyncio==1.6.0
networkx==3.1
nlpaug==1.1.11
nltk==3.9.1
nptyping==2.4.1
numba==0.58.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.3.1
omegaconf==2.2.3
opencensus==0.11.4
opencensus-context==0.1.3
opendatalab==0.0.10
openmim==0.3.9
openml==0.14.2
openxlab==0.1.3
optuna==4.5.0
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==1.5.3
parso==0.8.5
partd==1.4.1
pathlib_abc==0.1.1
pathy==0.11.0
patsy==1.0.2
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==6.5.0
preshed==3.0.12
prometheus_client==0.21.1
prompt_toolkit==3.0.52
propcache==0.2.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.1
py4j==0.10.9.9
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
pydantic==1.10.24
pydantic_core==2.27.2
Pygments==2.19.2
pynisher==0.6.4
pyparsing==3.1.4
pyrfr==0.8.3
pyrsistent==0.20.0
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
pytorch-lightning==1.9.5
pytorch-metric-learning==1.7.3
pytz==2023.4
PyWavelets==1.4.1
PyYAML==6.0.3
pyzmq==27.1.0
ray==2.3.1
regex==2024.11.6
requests==2.28.2
requests-oauthlib==2.0.0
rich==13.4.2
rsa==4.9.1
s3transfer==0.11.5
safetensors==0.5.3
scikit-image==0.19.3
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
sentencepiece==0.2.0
seqeval==1.2.2
six==1.17.0
smac==1.2
smart-open==6.4.0
sortedcontainers==2.4.0
soupsieve==2.7
spacy==3.7.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
srsly==2.4.8
stack-data==0.6.3
statsforecast==1.4.0
statsmodels==0.14.1
sympy==1.13.3
tabulate==0.9.0
tblib==3.0.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==0.9.16
tokenizers==0.19.1
toolz==0.12.1
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tornado==6.4.2
tqdm==4.65.2
traitlets==5.14.3
transformers==4.40.2
triton==3.0.0
typer==0.9.4
typing_extensions==4.13.2
tzdata==2025.2
ujson==5.10.0
urllib3==1.26.20
virtualenv==20.35.4
wasabi==1.1.3
wcwidth==0.2.14
weasel==0.3.4
Werkzeug==3.0.6
window_ops==0.0.15
xgboost==1.7.6
xmltodict==0.15.0
xxhash==3.6.0
yarl==1.15.2
zict==3.0.0
zipp==3.20.2

